<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <root level="WARN"/>

    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.boot.web.embedded.tomcat" level="INFO" />
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="org.apache.catalina.connector.CoyoteAdapter" level="OFF"/>
    <logger name="de.codecentric.boot.admin" level="WARN" />
    <!-- Not using Netflix Archaius / config server -->
    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR" />
    <!-- Not worried about using the default load balancer cache -->
    <logger name="org.springframework.cloud.loadbalancer.config.LoadBalancerCacheAutoConfiguration" level="ERROR" />

</configuration>